body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-bold', sans-serif;
  font-weight: 700;
}

/* headings */
.big-heading {
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

p {
  font-family: 'Montserrat-thin', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

.container-fluid {
  padding: 3% 15%;
}

.head-text {
  margin-bottom: 40px;
}

/* navigation bar */
.navbar {
  padding-left: 0;
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.6rem;
  font-weight: bold;
}

.features-box {
  padding: 5%;
}

.features-box3 {
  padding: 5% 0;
}

.find-love {
  padding: 0 15%;
}

.fas {
  color: #ef8172;
  margin-bottom: 1rem;
}

.fas:hover {
  color: #ff4c88;
}

/* testimonials */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing-section */
#pricing {
  padding: 100px;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* cta */
#cta {
  background-color: #ff4c68;
}

.cta {
  padding: 7% 15% 3%;
}

/* footer */
#footer {
  background-color: #fff;
}

.social-media {
  color: #000;
  padding: 1%;
  margin: 3% 3px 3%;
}

@media (max-width:992px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
